{% extends 'base.html' %}


{% block content %}
<div class="container">
    <h3>Login</h3>
    {% if form.errors %}
    <p>Your username or password dind't match please try again</p>
    {% else %}
    <p>please, use the following form to log in</p>
    {% endif %}
</div>

<div class="container">
    <form action="{% url 'login' }" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="text" value="{{ next }}">
        <p><input type="submit" value="log-in"></p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
</div>

{% endblock content %}