{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}
Organi | {{ product.name }}
{% endblock title %}

{% block content %}
<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ product.name }}</h2>
                        <div class="breadcrumb__option">

                            <a href="{% url 'shop:product_list' %}">Shop</a>
                            <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
                            <span>{{ product.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{% if product.image %}{{ product.image.url }}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                        </div>

                        <div class="product__details__pic__slider owl-carousel">

                            <img data-imgbigurl="{% if product.image2 %}{% thumbnail product.image2 100x100 %}
                                {% else %}{% static 'img/no_image.png' %}{% endif %}"
                                src="{% if product.image2 %}{% thumbnail product.image2 100x100 %}
                                    {% else %}{% static 'img/no_image' %}{% endif %}" alt="">

                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="{% if product.image3 %}{% thumbnail product.image3 100x100 %}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">

                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="{% if product.image4 %}{% thumbnail product.image4 100x100 %}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">

                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="{% if product.image5 %}{% thumbnail product.image5 100x100 %}
                                    {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>

                        <div class="product__details__price">${{ product.price }}</div>
                        <p>{{ product.description }}</p>


                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}
                            {{ cart_product_form }}
                            <button type="submit" class="primary-btn">{% trans 'Add to cart' %}</button>
                        </form>

                        <ul>
                            <li><b>{% trans 'Availability' %}</b> <span>{{ product.available|yesno|capfirst }}</span></li>
                            <li><b>{% trans 'Shpping' %}</b> <span>01 {% trans 'day shipping' %}. <samp>Free pickup today</samp></span></li>


                        </ul>
                    </div>
                </div>

                    </div>
                </div>

    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        {% if recomended_products %}
                        <h2>Related Product</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                {% if recommended_products %}
                    {% for p in recommended_products %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="
                        {% if p.image %}{% thumbnail p.image 262x270 %}{% else %}{% static 'img/no_image.png' %}
                        {% endif %}">
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h6>
                            <h5>${{ p.price }}</h5>
                        </div>
                    </div>
                </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

{% endblock content %}